*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background: rgb(1,1,1);
}

/*Menu*/
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.4);              
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur( 13.5px );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
    position: sticky;
    top: 0;
    z-index: 1000;
}
.menu h1{
    text-align: left;
}
ul{
    display: flex;
}
li,a{
    color: white;
    font-size: 20px;
    margin-left: 25px;
    text-decoration: none;
    list-style: none;
}
body{
    background-image: url(/img/call-of-duty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*info1*/
.info1{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3rem;
}
.info1 h1{
    color: rgb(24,196,255);
    font-size: 35px;
}
.info1 div{
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    align-items: center;
}
.info1 ul,li{
    flex-direction: column;
    margin-top: 12px;
}

/*info2*/
.call{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.call h1{
    color: rgb(24,196,255);
    font-size: 35px;
    margin-bottom: 12px;
}
.call p{
    color: white;
    width: 550px;
    font-size: 20px;
}
.btn{
    font-size: 15px;
    color: black;
}
.btn button{
    background: rgb(24,196,255);
    border-style: none;
    width: 150px;
    height: 2rem;
    border-radius: 25px;
    margin-top: 15px;
    cursor: pointer;
}

/*footer*/
footer{
    background-color: rgb(1,1,1);
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer p{
    color: #fff;
    font-size: 12px;
}
footer a{
    color: rgb(245, 163, 11);
    font-size: 12px;
}

